h3 {
    border: 3px solid #3da15f;
}
body {
    background-image: url('https://gcs.tripi.vn/public-tripi/tripi-feed/img/474083bll/anh-nen-tim-nhat-tuyet-dep-cho-may-tinh_084454577.jpg'); 
} 
h2 {text-align: center;}


